.goodsList{
    margin-top: 1px;
}
.goodsList ul{
    height: 60px;
    width: 500px;
    background-color: #ededed;
}
.container-top li{
    float: left ;
    width: 90px ;
    height: 60px;
}
.container-top li:hover a{
    color: #5683ea;
}
.container-top li a{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #999999;
    font-size: 12px;
    line-height: 60px;
}
