/*复选框样式 */
.check{ 
    display: none;
    z-index: 100;

    position: absolute;
    left: 26px;
    top: 34px;
}
.label{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #A6A6A6;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    color: #e4e3e3;
    z-index: 99;

    position: absolute;
    left: 26px;
    top: 34px;
}

.type-row{
    background: #F5F5F5;
    padding-left: 30px;
    color: #838383;
    font-size: 12px
}
.type-row span{
    width: 137px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}
button{
    outline: none;
}
/* 购物车 */
.shopCar-center{
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 20px 0; 
    background: #ffffff;
    position: relative;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid #d9d9d9;

}

.goods-from{
    padding-left: 74px;
    position: relative;
    width: 1146px;
}
.goods-from button{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
    background: #ffffff;
    font-size: 24px;
    color: #666666;
    background-color: #f3f3f3;
    border: none;
}
.goods-from img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 0 solid hsla(0,0%,100%,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.06);
}
.shan{
    position: absolute;
    right: 56px;
    top: 42%;
    transform: translateY(-12px);
}
.piece-money{
    position: absolute;
    right: 452px;
    top: 16px;
    transform: translateY(-12px);
}
.goods-num{
    position: absolute;
    right: 300px;
    top: 16px;
    transform: translateY(-12px);
}
.piece_num{
    height: 26px;
    width: 28px;
    text-align: center;
}
.jia:hover,.jian:hover,.shan:hover{
    box-shadow: 0 -2px 16px 0 rgba(0,0,0,0.24), 0 13px 22px 0 rgba(0,0,0,0.19);
}
.num-money{
    position: absolute;
    right: 172px;
    top: 16px;
    transform: translateY(-12px);
}

.shopCar-footer{
    width: 100%;
    height: 80px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #d9d9d9;
    background: #fdfdfd;
    position: relative;
    line-height: 80px;
}
#label2,#check2{
    position: absolute;
    left: 26px;
    top:32px;
    z-index: 100;
}
.close{
    width: 128px;
    height: 48px;
    position: absolute;
    right: 16px;
    padding: 1px;
    margin: 0 auto;
    border-radius: 9px;
    text-align: center;
}
.close button:hover{
    background: #6484d0 linear-gradient(#7592d4,#5272c6);
}
.close button{
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0 auto;
    border-radius: 9px;
    text-align: center;
    background: #658ae8;
    font-weight: 700;
    color: #fff;
    font-size:18px ;
}
.total{
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 200px;
}
.total span,.total-num span{
    color: #d44d44
}
.total-num{
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 424px;
}
.quan{
    position: absolute;
    left: 50px;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
}